body{
    font-family:Arial, Helvetica, sans-serif; 
    font-size:16px;
    color:#333333;
    background-image: url("bg.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
    margin:0;
}
#countLabel{
    display:block;
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:10em;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#btnContainer{
    text-align:center;
    margin-top:20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button{
    font-size:2em;
    margin:5px;
    padding:20px 20px;
    color:rgb(50, 50, 9);
    background-color:rgb(14, 189, 229);
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    cursor:pointer;
    transition: background-color 0.3s ease;
}
.button:hover{
    background-color:rgb(113, 238, 255);
}